.table-title{
    display:flex;
    
}
.table-rows{
    display:flex;
    flex-flow: column wrap;
   
}
.row{
    display:flex;
}
.rows-item{
    width: 250px;
    
}


.rows-1item{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}