@font-face {
    font-family: PT Astra Sans;
    src: url(/silant/frontend/static/fonts/PTAstraSans/PT-Astra-Sans_Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PT Astra Sans;
}
.body {
    background-color: #EBE6D6;
}

.content {

    background-color: #EBE6D6;
    width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
   

}

.page-header {
    display: grid;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

}

.page-header-top {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-top-item {
    padding-left: 20px;
    padding-right: 20px;
    height: 30%;
   
}


.page-header-bottom {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-sorted-block{
    width: 100%;
    padding-top: 10px;
   
}


.machines-list {
    display: flex;
    margin: 0 1%;
}

.rows-header {
    margin-right: 1%;

}

.rows-context {
    margin-left: 1%;
    margin-right: 1%;
    display: flex;

}

.rows-item {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

