{% extends 'frontend/default.html' %}

{% block content %}
<hr>
{% if data %}
<div class="table">
    <div class="table-title">
        {% for title in titles %}
            <div class="rows-item">{{title}}</div>
        {% endfor%}
    </div>
    <div class="table-rows">
    {% for item in data %}
        <div class="row">
            {% for i in item %}
            <div class="rows-item">{{i}} </div>
            {% endfor%}
        </div>
    {% endfor%}
    </div>


</div>
{% endif%}

{% endblock content %}